.tri {
  color: black;
  font-size: 1.3em;
  font-weight: 400;
  border-bottom: 1px solid var(#5C5C5C);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.duo {
  color: black;
  font-size: 1.3em;
  font-weight: 400;
  border-bottom: 1px solid var(#5C5C5C);
  padding-top: 10px;
  // padding-left: 10px;
  // padding-right: 10px;

}
.one {
  color: black;
  font-size: 1.9em;
  font-weight: 400;
  border-bottom: 1px solid var(#5C5C5C);
  padding-top: 10px;
  // padding-left: 10px;
  // padding-right: 10px;

}
