.header {
  border-bottom: 1px solid var(#5C5C5C);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  display: block;
}

.header {
  color: black;
  font-size: 1.8em;
  font-weight: 400;
}

.status {
  color: black;
  font-size: 1.5em;
  font-weight: 400;
  border-bottom: 1px solid var(#5C5C5C);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: end;
}

.tri {
  color: black;
  font-size: 1.5em;
  font-weight: 400;
  border-bottom: 1px solid var(#5C5C5C);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.hr{
  padding-left: 10px;

  padding-right: 10px;
}
.hr1 {
  // padding-right: 10px;
  height: 100%;
  width: 50%;
}

.subheader {
  color: black;
  font-size: 1.5em;
  font-weight: 400;
  border-bottom: 1px solid var(#5C5C5C);
  padding-top: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
  // text-align: right;
}
