.mat-sidenav{
  background-color: #2A3B57;
}
.mat-toolbar{
  background-color: #2A3B57;
  height: 4rem;
}
button{
  margin:10px
}
.imageLogo{
height: 2.5rem;
width: 10rem;
// margin-top: .1rem;
}

.imageSalir{
  height: 2.5rem;
  width: 2.5rem;
  // margin-top: .3rem;
  // margin-left: 94%;
  margin-left: 96%;
  }
span{
  color:#F5F5F5
}
