<div class="tableContainer grid grid-nogutter col-12">
  <div class="col-6 grid grid-nogutter justify-content-start">
    <p-button type="button" label="Registrar" styleClass="p-button-success register"></p-button>
  </div>
  <div class="col-6 grid grid-nogutter justify-content-end">

      <p-button styleClass="p-button-success custom-icon-size" icon="far fa-file-excel" class="col-2 excel"></p-button>

      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText class="col-12 search" placeholder="Search">
    </span>
  </div>
</div>


