<app-dialog-confirm #dialogConfirm>
  <ng-template appIcon>
    <ng-container *ngTemplateOutlet="(iconTemplate)?iconTemplate:iconTemplateDefault">
    </ng-container>
  </ng-template>
  <ng-template appHeader>
    <ng-container *ngTemplateOutlet="(headerTemplate)?headerTemplate:headerTemplateDefault">
    </ng-container>
  </ng-template>
  <ng-template appBody>
    <ng-container *ngTemplateOutlet="(bodyTemplate)?bodyTemplate:bodyTemplateDefault; context: {$implicit: error}">
    </ng-container>
      <!-- <app-view-error [configError]="error" [custom]="custom" *ngIf="viewError"></app-view-error> -->
      <div style="max-height: 200px; overflow: auto; padding: 10px; color: var(--TXTCB006);">
        {{ ( (error?.error)?error?.error: error ) | json}}
      </div>
  </ng-template>
  <ng-template appButtons>
    <ng-container *ngTemplateOutlet="(buttonsTemplate)?buttonsTemplate:buttonsDefault">
    </ng-container>
  </ng-template>
</app-dialog-confirm>

<ng-template #iconTemplateDefault>
  <i class="fas fa-exclamation-triangle" style="font-size: 5rem; color: var(--TXTCB006);"></i>
</ng-template>

<ng-template #headerTemplateDefault>
  {{header}}
  <div>
    {{subHeader}}
  </div>
</ng-template>

<ng-template #bodyTemplateDefault>
  {{body}}
</ng-template>

<ng-template #buttonsDefault>
  <button pButton pRipple  type="button" class="btn-cancel p-button-outlined p-button-secondary" (click)="onHide()" label="{{'Cerrar' }}"></button>
  <button pButton type="button"
  [label]=" 'Reintentar' " class="btn-confirm"
    (click)="onConfirm()" *ngIf="!submit"></button>
</ng-template>
