<div class="grid grid-container fieldForm" [formGroup]="formData">
  <div class="col-12"></div>

  <!-- Almacen -->
  <div class="col-12 md:col-6">
    <span class="p-fluid p-float-label">
      <p-dropdown [options]="listAlmacen" id="wareh" formControlName="wareh" [filter]="false"
        [ngClass]="{ 'error-border_dropdown': validateErrors.valid(formData, 'wareh')}">> </p-dropdown>
      <label for="almacen"> Almacen </label>
    </span>
    <div class="error-container">
      <ng-container *ngIf="validateErrors.valid(formData,'wareh')">
        <div *ngIf="validateErrors.validRequired(formData,'wareh')" class="error-message">
          {{'campo requerido' }}
        </div>

      </ng-container>
    </div>
  </div>

  <!-- Anaquel -->
  <div class="col-12 md:col-6">
    <span class="p-fluid p-float-label">
      <p-dropdown [options]="listAnaquel" id="shelf" formControlName="shelf" [filter]="false"
        [ngClass]="{ 'error-border_dropdown': validateErrors.valid(formData, 'shelf')}">> </p-dropdown>
      <label for="anaquel"> Anaquel </label>
    </span>
    <div class="error-container">
      <ng-container *ngIf="validateErrors.valid(formData,'shelf')">
        <div *ngIf="validateErrors.validRequired(formData,'shelf')" class="error-message">
          {{'campo requerido' }}
        </div>

      </ng-container>
    </div>
  </div>

  <!-- ID unico materia prima -->
  <div class="col-12 md:col-5">
    <span class="p-fluid p-float-label">
      <p-dropdown [options]="listMateriaPrima" id="rawMaterial_" formControlName="rawMaterial_" [filter]="false"
        [ngClass]="{ 'error-border_dropdown': validateErrors.valid(formData, 'rawMaterial_')}">> </p-dropdown>
      <label for="materiaPrima"> Identificador unico de la materia prima </label>
    </span>
    <div class="error-container">
      <ng-container *ngIf="validateErrors.valid(formData,'rawMaterial_')">
        <div *ngIf="validateErrors.validRequired(formData,'rawMaterial_')" class="error-message">
          {{'campo requerido' }}
        </div>

      </ng-container>
    </div>
  </div>

  <!-- Boton ID unico materia prima -->
  <div class="col-12 md:col-1">
    <span class="p-fluid p-float-label">
      <button pButton
      type="button"
      icon=" fas fa-light fa-camera"
      class="p-button-secondary  "
      style="width: 100%;
      height: 3rem;
      font-size: 100%;
      color:var( --CS007);">
    </button>
    </span>
    <!-- <div class="error-container">
      <ng-container *ngIf="validateErrors.valid(formData,'materiaPrima')">
        <div *ngIf="validateErrors.validRequired(formData,'materiaPrima')" class="error-message">
          {{'campo requerido' }}
        </div>

      </ng-container>
    </div> -->
  </div>

  <!-- Identificador unico del paquete -->
  <!-- <div class="col-12 md:col-6">
    <span class="p-fluid p-float-label">
      <input id="float-input" type="text" size="30" pInputText formControlName="idpackage"
        [ngClass]="{'error-border':validateErrors.valid(formData,'idpackage')}" name="idpackage">
      <label for="float-input"> Identificador unico del paquete</label>
    </span>
    <div class="error-container">
      <ng-container *ngIf="validateErrors.valid(formData,'idpackage')">
        <div *ngIf="validateErrors.validRequired(formData,'idpackage')" class="error-message">
          {{'campo requerido' }}
        </div>
        <div *ngIf="validateErrors.validAlreadyTaken(formData, 'idpackage')" class="error-message">
          {{'Este id ya esta registrado'}}
        </div>
      </ng-container>
    </div>
  </div> -->

  <!-- Fecha de caducidad -->
  <div class="col-12 md:col-6">
    <span class="p-fluid p-float-label">
      <p-calendar formControlName="dateOfExpiry" [showIcon]="true" dateFormat="yy-mm-dd" [yearNavigator]="true"
        [showTime]="false" [monthNavigator]="true" yearRange="1800:2100" [readonlyInput]="false"
        [ngClass]="{'error-border-calendar':validateErrors.valid(formData,'dateOfExpiry')}">
      </p-calendar>
      <label for="float-input">Fecha de caducidad</label>
    </span>
    <div class="error-container">
      <ng-container *ngIf="validateErrors.valid(formData,'dateOfExpiry')">
        <div *ngIf="validateErrors.validRequired(formData,'dateOfExpiry')" class="error-message">
          {{'campo requerido' }}
        </div>
        <div *ngIf="validateErrors.validError(formData,'expirationdate','dateOfExpiry')" class="error-message">
          {{'La fecha no debe ser mayor a la actual'}}
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Cantidad -->
  <div class="col-12 md:col-6">
    <span class="p-fluid p-float-label">
      <input id="float-input" type="text" size="30" pInputText formControlName="amount"
        [ngClass]="{'error-border':validateErrors.valid(formData,'amount')}" name="amount">
      <label for="float-input"> Cantidad</label>
    </span>
    <div class="error-container">
      <ng-container *ngIf="validateErrors.valid(formData,'amount')">
        <div *ngIf="validateErrors.validRequired(formData,'amount')" class="error-message">
          {{'campo requerido' }}
        </div>
      </ng-container>
    </div>
  </div>


</div>
