<div class="grid grid-container fieldForm" [formGroup]="formData">
  <div class="col-12"></div>

   <!-- Producto -->
   <div class="col-12 md:col-6">
    <span class="p-fluid p-float-label">
      <p-dropdown [options]="listProducto" id="producto" formControlName="product" [filter]="false"
        [ngClass]="{ 'error-border_dropdown': validateErrors.valid(formData, 'product')}">> </p-dropdown>
      <label for="product"> producto </label>
    </span>
    <div class="error-container">
      <ng-container *ngIf="validateErrors.valid(formData,'product')">
        <div *ngIf="validateErrors.validRequired(formData,'product')" class="error-message">
          {{'campo requerido' }}
        </div>

      </ng-container>
    </div>
  </div>

  <!-- Folio -->
  <div class="col-12 md:col-6">
    <span class="p-fluid p-float-label">
      <input id="float-input" type="text" size="30" pInputText formControlName="folio"
        [ngClass]="{'error-border':validateErrors.valid(formData,'folio')}" name="folio">
        <label for="float-input"> Folio</label>
    </span>
    <div class="error-container">
      <ng-container *ngIf="validateErrors.valid(formData,'folio')">
        <div *ngIf="validateErrors.validRequired(formData,'folio')" class="error-message">
          {{'campo requerido' }}
        </div>
        <div *ngIf="validateErrors.validAlreadyTaken(formData, 'folio')" class="error-message">
          {{'Este folio ya existe'}}
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Cantidad -->
  <div class="col-12 md:col-6">
    <span class="p-fluid p-float-label">
      <input id="float-input" type="text" size="30" pInputText formControlName="amount"
        [ngClass]="{'error-border':validateErrors.valid(formData,'amount')}" name="amount">
        <label for="float-input"> Cantidad </label>
    </span>
    <div class="error-container">
      <ng-container  *ngIf="validateErrors.valid(formData,'amount')">
        <div *ngIf="validateErrors.validRequired(formData,'amount')" class="error-message">
          {{'campo requerido' }}
        </div>
      </ng-container>
    </div>
  </div>

  </div>
