<div class="background grid grid-nogutter col-12">
  <div class="col-12 text-center">
    <img src="../../../assets/img/inventories.png" alt="icon" class="icono">
  </div>
  <div class="col-12 text-center fila">
    <label for="user" class="block">Usuario</label>
    <input id="username" type="username"class="ng-invalid ng-dirty" pInputText />
    <small id="username-help" class="p-error block">Username is not available.</small>
  </div>
  <div class="col-12 text-center">
    <label for="password" class="block">Contraseña</label>
    <input id="password" type="password" aria-describedby="password-help" class="ng-invalid ng-dirty" pInputText />
    <small id="password-help" class="p-error block">password is not available.</small>
  </div>
  <div class="col-12 text-center">
    <p-button>Iniciar sesion</p-button>
  </div>
</div>




