/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.space{
  padding: 10px;
}

.tableContainer{
  padding-top: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
}


@media (max-width: 768px) {
  .container-buttons {
    text-align: center;
  }
}
