<app-dialog-confirm #dialogChangePassword dheight="350px">
  <ng-template appIcon>

  </ng-template>
  <ng-template appHeader>
    {{'Actualizar contraseña'}}
  </ng-template>
  <ng-template appBody let-item>
    {{'Bienvenido a Inventarios'}}
    <p style="color: var(--CP003); margin: 10px 0px;"> {{'Contraseña'}}
    </p>
    <form class="grid" [formGroup]="formData" (ngSubmit)="submit()">
      <div class="grid col-12 fieldForm" style="display: flex; justify-content: center;">

        <!--password-->
        <div class="col-12 sm:col-6 md:col-5 lg:col-4">
          <span class="p-float-label p-fluid">
            <p-password inputId="password" formControlName="password" autocomplete="new-password"
            [ngClass]="{'error-border':validateErrors.valid(formData,'user','password')}" [toggleMask]="true">
            </p-password>
            <label for="password" style="top: -.75rem;
            font-size: 12px;">{{'Contraseña'}}</label>
          </span>

          <div class="error-container">
            <ng-container *ngIf="validateErrors.valid(formData,'password')">
              <div *ngIf="validateErrors.validRequired(formData,'password')" class="error-message">
                {{'global.requiredMessage.fieldRequired'}}
              </div>
            </ng-container>
          </div>
        </div>
        <!--confirm password-->
        <div class="col-12 sm:col-6 md:col-5 lg:col-4">
          <span class="p-float-label p-fluid">
            <p-password inputId="password" formControlName="passwordConfirm" autocomplete="new-password"
            [ngClass]="{'error-border':validateErrors.valid(formData,'passwordConfirm')}" [toggleMask]="true">
            </p-password>
            <label for="password" style="top: -.75rem;
            font-size: 12px;">{{'Confirmar contraseña'}}</label>
          </span>
          <div class="error-container">
            <ng-container *ngIf="validateErrors.valid(formData,'passwordConfirm')">
              <div *ngIf="validateErrors.validRequired(formData,'passwordConfirm')" class="error-message">
                {{'global.requiredMessage.fieldRequired'}}
              </div>
              <div *ngIf="validateErrors.validError(formData,'noEqual','passwordConfirm')" class="error-message">
                {{'Contraseña invalida'}}
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-12">
          <button pButton type="submit" [label]="'actualizar'" style="width: 200px; margin: 0px 10px;"></button>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template appButtons>
  </ng-template>
</app-dialog-confirm>

<app-loading  #loading></app-loading>
<!--DIALOG SUCCESS-->
<app-dialog-confirm #dialogSuccess>
  <ng-template appIcon>
    <i class="far fa-check-circle" style="font-size: 5rem; color:
      var(--CT007);"></i>
  </ng-template>
  <ng-template appHeader>
    {{this.translate.instant(this.libraryTranslate + 'dialosSusess.updateConfirm' )}}
  </ng-template>
  <ng-template appBody>
    {{this.translate.instant(this.libraryTranslate + 'dialosSusess.updateSusess' )}}
  </ng-template>
  <ng-template appButtons>
    <button pButton type="button" [label]="'cerrar'" style="width: 150px;" (click)="dialogSuccess.setDisplay(false)"></button>
  </ng-template>
</app-dialog-confirm>

<app-dialog-error #dialogError (confirm)="submit()" (cancel)="cancel($event)"></app-dialog-error>
