:root{
  /*Primary Colors*/
  --CP001:#082B42;
  --CP002:#165A88;
  --CP003:#0078FF;
  --CP004:#219ED9;
  --CP005:#91B9DD;
  --CP006:#F2F6F8;
  --CP007:#000C18;
  --CP008:#e5eff7;

  /*Scondary Colors*/
  --CS001:#222222;
  --CS002:#717171;
  --CS003:#9E9E9E;
  --CS004:#EEEEEE;
  --CS005:#F5F5F5;
  --CS006:#FAFAFA;
  --CS007:#5C5C5C;
  --CS008:#D8D8D8;

  /*Tertiary Colors*/
  --CT001:#C41515;
  --CT002:#E5BD16;
  --CT003:#179D5F;
  --CT004:#6435C9;
  --CT005:#A333C8;
  --CT006:#B5CC18;
  --CT007:#21BA45;
  --CT008:#00B5AD;
  --CT009:#E57045;

  /*Base Colors*/
  --CB001:#101010;
  --CB002:#B5B5B5;
  --CB003:#F7F7F7;
  --CB004:#3948FF;
  --CB005:#21BA45;
  --CB006:#C41515;
  --CB007:#00B5AD;
  --CB008:#FF0000;
  --CB009:#FFC400;
  --CB010:#0078FF;

}
