<ng-container *ngIf="!errorResponse && !custom">
  <h3>{{libraryTranslate+'error.errorCode' | translate}} <span>{{configError?.status}}</span></h3>
  <div *ngIf="!displayMessage" class="viewDetail" style="padding-top: 10px;
    color: var(--CB010); cursor: pointer;" (click)="displayMessage= true">
    {{libraryTranslate+'error.showDetails' | translate}}
  </div>
  <div *ngIf="displayMessage" class="viewDetail" style="padding-top: 10px;
    color: var(--CB010); cursor: pointer;" (click)="displayMessage= false">
    {{libraryTranslate+'error.closeDetails' | translate}}
  </div>
  <div style="color: var(--CB008); display: flex; justify-content: center;" *ngIf="displayMessage">
    <div style="width: 80%;" [@animation]="'visible'">
      {{configError?.message}}
    </div>
  </div>
</ng-container>
<ng-container *ngIf="errorResponse && !custom">

  <div class="scrollContainer">
    <h3>{{libraryTranslate+'error.errorCode' | translate}}<span>{{configError?.status}}</span></h3>
    <div *ngIf="!displayMessage" class="viewDetail" style="padding-top: 10px;
        color: var(--CB010); cursor: pointer;" (click)="displayMessage= true">
      {{libraryTranslate+'error.showDetails' | translate}}
    </div>
    <div *ngIf="displayMessage" class="viewDetail" style="padding-top: 10px;
        color: var(--CB010); cursor: pointer;" (click)="displayMessage= false">
      {{libraryTranslate+'error.closeDetails' | translate}}
    </div>
    <div style="color: var(--CB008); padding-left: 10%;
        padding-right: 10%; text-align: left;" *ngIf="displayMessage">
      <div [@animation]="'visible'">
        <b>{{libraryTranslate+'error.errorCode' | translate}}</b> {{error?.status}}
      </div>
      <div [@animation]="'visible'">
        <b>{{libraryTranslate+'error.url' | translate}}
        </b> {{error?.url}}
      </div>
      <div [@animation]="'visible'">
        <b>{{libraryTranslate+'error.message' | translate}}: </b>{{error?.error?.message}}
      </div>
    </div>
  </div>


</ng-container>

<ng-container *ngIf="custom">
  <div class="scrollContainer">
    {{configError  | json}}
  </div>
</ng-container>
