.background {
  margin: 0;
  padding: 0;
  background-color: #2A3B57;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icono{
  width: 40%;
  height: 40%;
  padding: 0;
}

.fila {
  margin-bottom: 0; /* ajusta el valor según sea necesario */
}
.background {
  margin: 0;
  padding: 0;
  background-color: #2A3B57;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100vh;
  text-align: center;
}

.icono {
  width: 60%;
  height: 50%;
  padding-bottom: 3rem;
}

.formulario {

  // padding-left: 30rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.formulario input {

  margin-bottom: 1rem;
  padding-right: 20%;
}

.my-button-class {
  font-size: 1.5rem !important;
  padding: 1rem 2rem !important;
}

label{
  color: white;
  padding-left: 31%;
}
