<div class="background grid grid-nogutter col-12">
  <div class="formulario col-12">
    <div class="col-12">
      <img src="../../../assets/img/inventories.png" alt="icon" class="icono">
    </div>
    <div class="col-12">
      <div class="col-12" style="text-align: start;">
        <label for="user">Usuario</label>
      </div>
      <input id="username" placeholder="Administrador" type="username" class=" ng-dirty" pInputText />
      <small id="username-help" class="p-error block"></small>
    </div>
    <div class="col-12 ">
      <div class="col-12" style="text-align: start;">
        <label for="password">Contraseña</label>
      </div>
      <input id="password" placeholder="*************" type="password" aria-describedby="password-help" class=" ng-dirty" pInputText />
      <small id="password-help" class="p-error block"></small>
    </div>
    <div class="col-12 forumulario" style="margin-top: 2rem">
      <p-button >Iniciar sesion</p-button>
    </div>
  </div>
</div>
