.status-finalizado {
  color: green; /* Cambia el color para "finalizado" */
}

.status-enproceso {
  color: gray; /* Cambia el color para "en proceso" */
}

.status-terminado {
  color: blue; /* Cambia el color para "terminado" */
}
